* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
}


body{
  background-color: #19101b;
  background-image: url(assets/background-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(5px);
  display: grid;
  place-items: center;
}

.container{

  padding-top: 5px;
  margin-top: 50px;
  width: 400px;
  height: 300px;
  border-radius: 50px;
  background-color: #19101b92;
  border: #4b0a5a85 5px solid;
  box-shadow: 15px 15px 20px #4b0a5a37;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
}
